@page "/"

<PageTitle>Home of Food World!</PageTitle>

<h1>Welcome to Food World!</h1>

<p>This is place that is dedicated to my food portfolio with some of my favorite recipes I have made. Take a look around!</p>


